<template>
  <div class="search container">
    <center>
    <form v-on:submit.prevent="getResult(query)">
      <input type="text" class="form-control mb-3" placeholder="Seach meals by name..." v-model="query">
    </form> 
    </center>
      <div class="row">
        <div class="col-md-3" v-for="result in results">
          <div class="card" style="width: 15rem; height: 90%;">
            <img class="card-img-top"v-bind:src="result.strMealThumb">
            <div class="card-body">
              <h5 class="card-title">{{result.strMeal}}</h5>
                <span class="badge badge-pill badge-primary">{{result.strCategory}}</span>
            </div>
          </div>`
        </div>
      </div>
    </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'search',
  data () {
    return {
      msg: 'Search',
      query: '',
      results: ''
    }
  },
  methods: {
    getResult (query) {
      axios.get('https://www.themealdb.com/api/json/v1/1/search.php?s=' + query).then(response => {
        console.log(response.data.meals)
        this.results = response.data.meals
      })
    }
  }
}
</script>

<style scoped>

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

</style>